
<ion-content color="dark"> 
    <ion-card class="center" color="medium">
        <ion-card-header color="medium">
          <ion-card-title>Contacto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list color="medium">
                <ion-item color="medium">
                    <div class="ion-padding-vertical">
                        <ion-label>Nombre de contacto</ion-label>
                        <ion-input type="text" placeholder="Ingrese nombre" [(ngModel)]="nombre"></ion-input>
                    </div>
                </ion-item>
                <ion-item color="medium"> 
                    <div class="ion-padding-vertical">
                        <ion-label>Numero de contacto</ion-label>
                        <ion-input type="text" placeholder="Ingrese Numero" [(ngModel)]="nro"></ion-input>
                    </div>
                </ion-item>
                <ion-item color="medium">
                    <div class="boton-position ion-padding-vertical ">
                        <ion-button   (click)="guardar()">Guardar</ion-button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>    
    </ion-card>
</ion-content>

